WebShopProcess/bpelContent/InventoryServiceService_schema1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 
	JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://imse.soc.grp4.org/inventoryservice"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://imse.soc.grp4.org/inventoryservice">

	<xs:element name="InvalidProductIdFault" type="tns:InvalidProductIdFault" />

	<xs:element name="getProductAvailability" type="tns:getProductAvailability" />

	<xs:element name="getProductAvailabilityResponse" type="tns:getProductAvailabilityResponse" />

	<xs:complexType name="getProductAvailability">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getProductAvailabilityResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InvalidProductIdFault">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>