acme/bpelContent/ResupplyServiceSOAPPort.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.example.org/ResupplyService/" xmlns:intf="http://www.example.org/ResupplyService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ResupplyService/">
<!--
WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)
-->
<wsdl:message name="enquireRequest">
<wsdl:part name="productID" type="xsd:int"></wsdl:part>
</wsdl:message>
<wsdl:message name="getPriceRequest">
<wsdl:part name="productID" type="xsd:int"></wsdl:part>
</wsdl:message>
<wsdl:message name="resupplyRequest">
<wsdl:part name="productID" type="xsd:int"></wsdl:part>
<wsdl:part name="amount" type="xsd:int"></wsdl:part>
</wsdl:message>
<wsdl:message name="getPriceResponse">
<wsdl:part name="price" type="xsd:float"></wsdl:part>
</wsdl:message>
<wsdl:message name="enquireResponse">
<wsdl:part name="stockAmount" type="xsd:int"></wsdl:part>
</wsdl:message>
<wsdl:message name="resupplyResponse">
<wsdl:part name="result" type="xsd:boolean"></wsdl:part>
</wsdl:message>
<wsdl:portType name="ResupplyServiceSOAPPort">
<wsdl:operation name="enquire" parameterOrder="productID">
<wsdl:input message="impl:enquireRequest" name="enquireRequest"></wsdl:input>
<wsdl:output message="impl:enquireResponse" name="enquireResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="resupply" parameterOrder="productID amount">
<wsdl:input message="impl:resupplyRequest" name="resupplyRequest"></wsdl:input>
<wsdl:output message="impl:resupplyResponse" name="resupplyResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="getPrice" parameterOrder="productID">
<wsdl:input message="impl:getPriceRequest" name="getPriceRequest"></wsdl:input>
<wsdl:output message="impl:getPriceResponse" name="getPriceResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ResupplyServiceSOAPPortSoapBinding" type="impl:ResupplyServiceSOAPPort">
<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="enquire">
<wsdlsoap:operation soapAction="http://www.example.org/ResupplyService/enquire"/>
<wsdl:input name="enquireRequest">
<wsdlsoap:body namespace="http://www.example.org/ResupplyService/" use="literal"/>
</wsdl:input>
<wsdl:output name="enquireResponse">
<wsdlsoap:body namespace="http://www.example.org/ResupplyService/" use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="resupply">
<wsdlsoap:operation soapAction="http://www.example.org/ResupplyService/resupply"/>
<wsdl:input name="resupplyRequest">
<wsdlsoap:body namespace="http://www.example.org/ResupplyService/" use="literal"/>
</wsdl:input>
<wsdl:output name="resupplyResponse">
<wsdlsoap:body namespace="http://www.example.org/ResupplyService/" use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getPrice">
<wsdlsoap:operation soapAction="http://www.example.org/ResupplyService/getPrice"/>
<wsdl:input name="getPriceRequest">
<wsdlsoap:body namespace="http://www.example.org/ResupplyService/" use="literal"/>
</wsdl:input>
<wsdl:output name="getPriceResponse">
<wsdlsoap:body namespace="http://www.example.org/ResupplyService/" use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ResupplyService">
<wsdl:port binding="impl:ResupplyServiceSOAPPortSoapBinding" name="ResupplyServiceSOAPPort">
<wsdlsoap:address location="http://129.69.214.67:8080/ResupplyService/services/ResupplyServiceSOAPPort"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>